venv
.venv
env
.env

uploads

*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.DS_Store
.gitignore
combined_part_a.txt
combined_part_b.txt
combined_part_c.txt
combined_part_d.txt
combined_part_e.txt
combined.txt
